*.suo
*.user
*.userprefs
.DS_Store
_ReSharper.*
bin
obj
*/packages/
!*/packages/packages.config
!*/packages/repositories.config
*/Components/
*/.idea/workspace.xml
*/.idea/tasks.xml
*/test_servers/
Calababash/index.html
Project/testcloud commands.txt
Project/CardValidation.UITest.iOS/Properties/AssemblyInfo.cs
Project/CardValidation.UITest.Android/Properties/AssemblyInfo.cs